.experience {
  margin-bottom: $m-large;
  padding-bottom: $p-medium;
  border-bottom: $border solid $c-highlight;

  &:last-of-type {
    @media ($b-min-large) {
      border: none;
      padding-bottom: 0;
    }
  }
}

.experience__meta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: $m-medium 0;

  @media ($b-min-large) {
    margin: $m-large 0;
    flex-direction: row;
  }
}

.experience__company,
.experience__date,
.experience__location,
.experience__stack {
  margin-bottom: $m-small;

  @media ($b-min-large) {
    margin: 0;
  }

  &::before {
    position: relative;
    top: $o-icon-tiny;
    margin-right: $m-small;
  }
}

.experience__company::before {
  content: url('../images/icons/building.svg');
}

.experience__date::before {
  content: url('../images/icons/calendar.svg');
}

.experience__location::before {
  content: url('../images/icons/map-marker.svg');
}

.experience__title {
  color: $c-white;
}

.experience__title,
.experience__description {
  margin: $m-medium 0;
}

.experience__summary {
  @include list;
}

.experience__item {
  @include list-item;
}

.experience__stack {
  margin-top: $m-medium;
  line-height: $l-large;

  &::before {
    content: url('../images/icons/code.svg');
    top: $o-icon-small;
    margin-left: -$m-tiny;
  }
}
