.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $p-container-mobile;
  overflow: hidden;
  background-color: $c-base;

  @media ($b-min-large) {
    padding: $p-container;
  }
}

.header__title {
  color: $c-highlight;
}

.header__subtitle {
  @include font-size-h3;
}

.header__name {
  display: flex;
  align-items: center;
  gap: $m-small;
  margin-bottom: $m-small;

  @media ($b-min-large) {
    margin-bottom: 0;
  }
}

.header__logo {
  flex-shrink: 0;
}

.header__image {
  margin-left: $m-small;
  width: 5rem;
  border-radius: 50%;

  @media ($b-min-medium) {
    width: 7rem;
  }

  @media ($b-min-large) {
    width: 11rem;
  }
}
