.facts {
  margin-bottom: $m-medium;
}

.facts__list {
  @media (min-width: $b-medium) and (max-width: $b-large) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--education {
    display: block;
  }
}

.facts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-small;
  list-style-type: none;

  @media (min-width: $b-medium) and (max-width: $b-large) {
    width: 45%;
  }

  &--education {
    display: block;
    margin-bottom: $m-tiny;
  }
}

.facts__item-title {
  @include font-size-h3;

  margin-bottom: $m-tiny;

  &::before {
    position: relative;
    top: $o-tiny;
    margin-right: $m-tiny;
  }

  &--about::before {
    content: url('../images/icons/glasses.svg');
  }

  &--db::before {
    content: url('../images/icons/database.svg');
  }

  &--dependencies::before {
    content: url('../images/icons/npm.svg');
  }

  &--docker::before {
    content: url('../images/icons/docker.svg');
  }

  &--frontend::before {
    content: url('../images/icons/sass.svg');
  }

  &--git::before {
    content: url('../images/icons/git-alt.svg');
  }

  &--javascript::before {
    content: url('../images/icons/node-js.svg');
  }

  &--keyboard::before {
    content: url('../images/icons/keyboard.svg');
  }

  &--like::before {
    content: url('../images/icons/thumbs-up.svg');
    top: 0;
  }

  &--markup::before {
    content: url('../images/icons/markdown.svg');
  }

  &--os::before {
    content: url('../images/icons/ubuntu.svg');
  }

  &--php::before {
    content: url('../images/icons/php.svg');
  }

  &--ruby::before {
    content: url('../images/icons/gem.svg');
  }

  &--server::before {
    content: url('../images/icons/server.svg');
  }

  &--templating::before {
    content: url('../images/icons/file-code.svg');
  }

  &--terminal::before {
    content: url('../images/icons/terminal.svg');
  }

  &--tools::before {
    content: url('../images/icons/gulp.svg');
  }
}

.facts__item-title--details {
  @include font-size-p;
}

.facts__item-title--education,
.facts__item-description--education {
  line-height: 1.75;
}

.facts__item-description--education::before {
  content: ' - ';
}
