.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: $p-container-mobile;
  overflow: hidden;

  @media ($b-min-large) {
    padding: $p-container;
  }

  canvas {
    position: absolute;
    left: 0;
    z-index: -1;
  }
}

.header__title {
  margin-bottom: $m-small;

  @media ($b-min-large) {
    margin: 0;
  }
}

.header__subtitle {
  @include font-size-h3;

}

.header__image {
  width: 7rem;
  border-radius: 50%;

  @media ($b-min-large) {
    width: 11rem;
  }
}
