/* Breakpoints */
$b-medium: 37.5rem;
$b-large: 62.5rem;
$b-min-medium: 'min-width: #{$b-medium}';
$b-min-large: 'min-width: #{$b-large}';

/* Margins */
$m-tiny: 0.1875rem;
$m-small: 0.625rem;
$m-medium: 1.25rem;
$m-large: 2.5rem;

/* Borders */
$border: 0.125rem;

/* Paddings */
$p-small: 1rem;
$p-medium: 2rem;
$p-large: 3rem;
$p-container-mobile: $p-medium $p-medium;
$p-container: $p-medium $p-large;

/* Offsets */
$o-icon-tiny: 0.1875rem;
$o-icon-small: 0.375rem;

/* Line height */
$l-medium: 1.75;
$l-large: 2;

/* Fonts */
$f-bold: 'Roboto Bold';
$f-light: 'Roboto Light';

/* Colors */
$c-base: #2A1B3D;
$c-highlight: #D83F87;
$c-black: #000;
$c-white: #FFF;
